{% load static %}
{% load custom_filter %}
{% load recipe_tags %}
{% load custom_rate %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
  <title>Home</title>

<body>
  <header>
    <h1><img src="{% static 'images/logos.png' %}" alt="Logo">Recipe Manager</h1>
    <nav>
      <ul>
        <li><a href="{% url 'index' %}" class="active">Home</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="recipe-container" id="recipeContainer">
      {% for recipe in recipes %}
      <div class="recipe">
        <h3>{{ recipe.recipe_name }}</h3>
        <img src="{{ recipe.image.url }}" alt="{{ recipe.recipe_name }}">
        <p class="description">Description: <br>{{ recipe.description }}</p>
        <p>Preparation Time: {{ recipe.prep_time }} minutes</p>
        <p>Servings: {{ recipe.servings }}</p>
        <p>Ingredients:</p>
        <ul>
          {% for ingredient in recipe.ingredients|split_by_comma %}
          <li>{{ ingredient }}</li>
          {% endfor %}
        </ul>
        <p>Instructions:</p>
        <ol>
          {% for ingredient in recipe.ingredients|split_by_comma %}
          <li>{{ ingredient }}</li>
          {% endfor %}
        </ol>
        <div class="rate">
          {% if request.session.user_id %}
          {% with recipe_id=recipe.recipe_id user_id=request.session.user_id %}
          {% get_user_rating recipe_id user_id as user_rating %}
          {% if user_rating %}
          <p>Your Rating:</p>
          <div class="stars">
            {% for _ in user_rating|make_range %}
            <i class="fas fa-star"></i>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
          {% endif %}
        </div>
        <div class="ratings">
          {% with recipe_id=recipe.recipe_id %}
          {% get_average_rating recipe_id as avg_rating %}
          {% if avg_rating %}
          <p>Average Rating:</p>
          <div class="stars">
            {% for _ in avg_rating|make_range %}
            <i class="fas fa-star"></i>
            {% endfor %}
          </div>
          {% endif %}
          {% endwith %}
        </div>
        <div class="com">
          <p>Comments</p>
          {% get_comments recipe.recipe_id as comments %}
          {% if comments %}
          {% for comment in comments %}
          <div class="comment">
            <p class="username">{{ comment.user.user_name }}:</p>
            <p class="comment-text">{{ comment.comment }}</p>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
      {% empty %}
      <p>No recipes found.</p>
      {% endfor %}
    </div>
  </main>
</body>

</html>